
/**************************************************************************************
 * STORYMOD
 *
 * Website: https://sites.google.com/site/storymodsite
 * GitHub: https://github.com/lcudenne/storymod
 * Author: Loic Cudennec <loic@cudennec.fr>
 *
 * This program is a story server for Euro Truck Simulator 2 and
 * American Truck Simulator. It reads a driving trace from either a
 * local file or a UDP stream connected to the simulator and
 * periodically updates a local HTML file to display the current story
 * state to the player. Stories are loaded from a given directory.
 *
 **************************************************************************************
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 **************************************************************************************/


body {
    background-color: #444411;
    color: #CDCDCD;
    font-family: "Lucida Console", Monaco, monospace;
    font-variant: small-caps;
}

.currentstatus {
    text-align: center;
    overflow: hidden;
    width: 1060px;
}

.currentstatus > * {
    vertical-align: top;
}

.activestorylist {
    text-align: center;
    overflow: hidden;
    width: 1060px;
}

.activestorylist > * {
    vertical-align: top;
}

.allstorylist {
    text-align: center;
    overflow: hidden;
    width: 1060px;
}

.allstorylist > * {
    vertical-align: top;
}

.currentstory {
    text-align: justify;
    margin: 5px;
    display: inline-block;
    width: 330px;
}

.activestory {
    text-align: justify;
    margin: 5px;
    display: inline-block;
    width: 330px;
}

.allstory {
    text-align: justify;
    margin: 5px;
    display: inline-block;
    width: 330px;
}

.imagestory {
    box-shadow: 8px 8px 8px black;
    width: 320px;
    height: 320px;
}

.texttype {
    color: #EFEFEF;   
}

.state {
    text-align: justify;
    margin: 5px;
    display: inline-block;
    width: 660px;
}

.state > * {
    vertical-align: top;
}

.imagestate {
    box-shadow: 8px 8px 8px black;
    display: inline-block;
    width: 320px;
    height: 320px;
}

.statedesc {
    text-align: justify;
    margin: 5px;
}

img {
    border: 0px;
    width: 320px;
    height: 320px;
    opacity: 1.0;
}